.user {
  min-height: 100vh;
  background: #161822;
}

.user .header {
  height: 250rem;
  position: relative;
}
.user .header img {
  display: block;
  width: 100%;
  height: 250rem;
}
.user .header .icon {
  width: 64rem;
  height: 64rem;
  position: absolute;
  top: 52rem;

  background: rgba(0, 0, 0, 0.6) center no-repeat;
  background-size: 60%;
  border-radius: 50%;
}

.user .header .icon-left {
  left: 32rem;
  background-image: url(../imgs/icon-arrow-left.png);
}
.user .header .icon-menu {
  right: 32rem;
  background-image: url(../imgs/icon-menu.png);
}

/*  */
.user .info {
  padding: 0 24rem;
}

.user .info .user-info {
  margin-top: 24rem;
  height: 72rem;

  display: flex;
}

.user .info .avatar {
  width: 180rem;
  height: 180rem;
  border: 4rem #000 solid;
  border-radius: 50%;
  overflow: hidden;

  position: relative;
  top: -58rem;
}
.user .info .avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

.user .info .follow {
  margin-left: 45rem;
  width: 454rem;
  height: 100%;
}
.user .info .follow button {
  width: 100%;
  height: 100%;
  background: #e9445a;
  border: none;
  font-size: 30rem;
}

.user .info .user-name {
  margin-top: 84rem;
  font-size: 44rem;
}
.user .info .user-id {
  margin-top: 22rem;
  opacity: 0.6;
}
.user .info .user-cert {
  margin-top: 28rem;
}

.cert-icon {
  display: inline-block;
  width: 26rem;
  height: 26rem;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  top: 4rem;
}
.cert-org {
  background-image: url(../imgs/icon-cert-org.png);
}
.cert-person {
  background-image: url(../imgs/icon-cert-person.png);
}

.user .showcase {
  height: 64rem;
  line-height: 64rem;
  margin-top: 30rem;
  border-top: 1px solid #32333d;
  border-bottom: 1px solid #32333d;
  color: #f3cf4a;
}
.user .showcase .icon-showcase {
  display: inline-block;
  width: 32rem;
  height: 32rem;
  background: url(../imgs/icon-shop.png) no-repeat;
  background-size: 100%;
  position: relative;
  top: 8rem;
  margin-right: 6rem;
}

.user .slogan {
  margin-top: 16rem;
  line-height: 42rem;
}

.user .user-num {
  margin-top: 40rem;
  display: flex;
}
.user .user-num .count {
  margin-right: 30rem;
}
.user .user-num .count span {
  opacity: 0.6;
}
.user .user-num .count span.num {
  opacity: 1;
  font-weight: 700;
  margin-right: 6rem;
}

.user .tab-switch {
  margin-top: 55rem;
}
.user .tab-switch .tab-btns {
  display: flex;
}
.user .tab-switch .tab-btn {
  flex: 1;
  text-align: center;
  opacity: 0.6;

  height: 73rem;
  line-height: 73rem;
}
.user .tab-switch .tab-btn.active {
  opacity: 1;
  font-weight: 700;
  border-bottom: 4rem solid #f3cf4a;
}
.user .tab-switch .tab-items {
  margin-top: 32rem;
}

.user .videos {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.user .videos .video {
  width: 248rem;
  height: 330rem;
}
.user .videos img {
  display: block;
  width: 100%;
  height: 100%;
}
